body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    text-align: center;
}
#k-odp {
    background-color: white;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
    margin-top: 15px;
}
#d-odp {
    background-color: white;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
    margin-top: 15px;
}
footer {
    margin-top: 20px;
}
#button_powrot {
    height: 40px;
    border: 0px;
    background-color: deepskyblue;
    border-radius: 10px;
    cursor: pointer;
}
#button_powrot:hover {
  background-color: rgb(0, 170, 227);
}
