body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    text-align: center;
}
#disclaimer {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin: 10px 0;
  border-radius: 20px;
}
footer {
    margin-top: 20px;
}
#najnowsze_posty_tabela {
  background-color: white;
  margin: 0 auto;
  width: 30%;
  padding: 10px;
  border-radius: 20px;
}
#najnowsze_posty_tabela a {
  text-decoration: none;
  color: black;
}
.pole_form {
  width: 30%;
  margin-bottom: 5px;
  height: 30px;
  border: 0px;
  border-radius: 20px;
}
.pole_form_textarea {
  width: 30%;
  border: 0px;
  border-radius: 20px;
}
#submit {
  width: 30%;
  height: 30px;
  background-color: deepskyblue;
  cursor: pointer;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 5px;
}
section {
  margin-bottom: 100px;
}
#submit:hover {
  background-color: rgb(0, 170, 227);
}
#button_powrot {
  background-color: deepskyblue;
}
#button_powrot:hover {
  background-color: rgb(0, 170, 227);
}
