body {
    background-color: whitesmoke;
    text-align: center;
    font-family: Arial, sans-serif;
}
#powiadomienie {
    margin-top: 15%;
}
button {
    height: 40px;
    border: 0px;
    background-color: deepskyblue;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(0, 170, 227);
}